#guideContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px calc(100vh - 100px);

}
.gridcontainer {
	display: grid; 
	grid-template-columns: 40% 35% 25%;
	grid-template-rows: 20%;
}
.textbox1 {
	
	grid-row: 1;
grid-column: 1;
   display: grid;
    justify-items: center;
    align-items: center;
}
.textbox2 {
	
	grid-row: 1;
grid-column: 2;
   display: grid;
    justify-items: center;
    align-items: center;
	
	
}
.textbox3 {
	
	grid-row: 1;
grid-column: 3;
   display: grid;
    justify-items: center;
    align-items: center;
	
}
.text {
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    height: calc(54vw * 0.5);
    overflow: auto;
    background-color: #9CB89E;
    border-radius: 10px;

}
ul {
	list-style-type: square;
	
}
h2 {
	text-align: center;
}
